// ----------------------------------------------------------------------------
// App
// ----------------------------------------------------------------------------

$breakpoint-sm-min: 600px;
$breakpoint-md-min: 1024px;
$breakpoint-lg-min: 1440px;
$breakpoint-xl-min: 1920px;

$max-page-width: 1280px;
$mobile-breakpoint: $breakpoint-sm-min - 1px;
$big-mobile-breakpoint: $breakpoint-md-min - 1px;

$padding: 16px;
$column-gap: $padding * 4;
$vspace: $padding * 8;

$header-line-height: $padding * 2;
$header-height: $header-line-height + ($padding * 2);
$header-height-mobile: $header-height + (($padding * 2) * 2 + $header-line-height);

$footer-line-height: $padding * 2;
$footer-height: (($padding * 2) * 2) + $footer-line-height;

// ----------------------------------------------------------------------------
// App Colors
// ----------------------------------------------------------------------------

$primary   : #0077b8;
$dark      : #111;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

$primary-on-dark:   lighten($primary, 20%);
$light-on-dark:     rgba(#ccc, 0.8);
$light-on-light:  rgba(22, 22, 22, 0.1);
